:root {
  --border-dark: #333;
  --border-light: #f3f3f3;
  --bg-dark: #121212;
  --bg-light: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body{
  background: #080808;
  color: #fff;
}

#header {
  color: white;
  padding: 16px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 1px;
  background: #f0b71c;
  position:absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;
}

#profile{
  padding: 80px 0;
  color: #ababab;
  height: 100vh;
}

.container{
  padding: 10px 10%;
  width: 100;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container{
  width: 35%;
  position: relative;
  border-radius: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #f0b71c;
  
}

.profile-text{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.profile-text h1{
  font-size: 50px;
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  
}

.profile-text h1 span{
  color: #f0b71c;
}

.profile-text h2{
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
}

.profile-text p{
 margin-top: 20px;
 font-size: large;
 text-align: center;
 width: 70%;
}

#career-goals{
  width: 100%;
  height: 100vh;
}

#career-goals .container h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}


.container .stack {
  background-color: #0b0b0b;
  padding: 0 20px 20px;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 12px 0 rgb(240, 183, 28);
  position: relative;
}



.stack label {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.stack label h2 {
  width: 40px;
  height: 40px;
  background: #fff;
  color: black;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack label h3 {
  cursor: pointer;
}

.stack label h3:hover{
  color:#f0b71c;
}

.stack label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2rem;
}

.stack:hover label::after{
  color: black;
  transition: 0.5s;
}

.stack input:checked ~ label::after {
  transform: rotate(135deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.stack input {
  appearance: none;
}

.stack input:checked ~ .content {
  max-height: 100vh;
}

.content p{
  padding-top: 20px;
}



